<%= form_for :grade, url: grades_path, html: {class: "form-horizontal", role: "form"} do |f| %>
  <% if @grade.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@grade.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @grade.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: "form-control" %>  
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-3">
      <%= f.submit class: "btn btn-default" %>
    </div>  
  </div>
  
<% end %>
